body {
    background-color: #909090;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

button {
    margin: 10px;
}

.lenght {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.break, .session {
    padding: 10px;
    border-radius: 15%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15), 
                -3px -3px 5px rgba(94, 104, 121, 0.945);
}

#break-label, #session-label {
    font-size: 1.2rem;

}

#timer-label {
    font-size: 2rem;
    font-weight: 600;
}

.timer {
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
    width: 400px;
    border-radius: 20%;
    position: relative;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), 
                -6px -6px 10px -1px rgba(94, 104, 121, 0.945);
    margin: 40px;
}

#bar {
    display: inline-block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), 
                -6px -6px 10px -1px rgba(94, 104, 121, 0.945);
    margin: 40px;
}

#time-left {
    position: absolute;
    font-size: 2.5rem;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
